.party_page {
  position: relative;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: self-start;
  gap: 50px;
  
  &__info {
    position: relative;
    width: 655px;
    height: 290px;
    border: 1px solid #7e7e7e;
    background-image: url('./event_img_example.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;

    img {
        width: 655px;
        height: 290px;
        object-fit: cover;
    }
    
    // button {
    //     position: absolute;
    //     top: 15px;
    //     right: 15px;
    //     width: 220px;
    //     height: 45px;
    //     border: 1px solid white;
    //     font-size: 18px;
    //     font-weight: 400;
    //     color: white;
    //     background-color: rgba(0, 0, 0, 0.7);
    //     transition-duration: .5s;
    //     cursor: pointer;
        
    //     &:hover {
    //         background-color: white;
    //         border: 1px solid rgb(0, 0, 0);
    //         color: black;
    //         transition-duration: .5s;
    //     }
    // }
      
    .time_place {
        // background-color: transparent;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 5px 20px;
        width: 615px;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: start;
    }
    
    p {
        background-color: transparent;
        font-size: 16px;
        font-weight: 400;
    }
  }

  &__description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;


    button {
      width: 280px;
      height: 50px;
      border: 1px solid white;
      font-size: 20px;
      font-weight: 400;
      color: white;
      background-color: rgba(0, 0, 0, 0.7);
      transition-duration: .5s;
      cursor: pointer;
      
      &:hover {
        background-color: white;
        border: 1px solid rgb(0, 0, 0);
        color: black;
        transition-duration: .5s;
      }
    }
  }


  .findYours {
    position: absolute;
    top: 0;
    left: 55%;
  }

  .choose_room {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    gap: 50px;

    h1 {
        position: relative;
        width: 72%;
        display: block;
        text-align: start;
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 5px;

        &::after {
            content: '';
            position: absolute;
            left: 30;
            bottom: 15px;
            width: 100%;
            height: 2px;
            background-color: #52535F;
            margin-left: 20px;
        }
    }
  
    .warning {
        width: 100%;
        display: flex;
        justify-content: center;
        h5 {
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            font-size: 18px;
            font-weight: 400;
            margin-top: 50px;
            color: #426132;
            transition-duration: .5s;
            cursor: pointer;
            &::after {
                content: url('./login_icon.svg');
                // margin-top: 5px;
            }

            &:hover {
                // transform: scale(1.1);
                font-size: 20px;
                transition-duration: .5s;
            }
        }
    }
}

    .rooms__container {
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

        .item {
            width: 200px;
            height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            div {
                width: 130px;
                height: 130px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #636363;
                border-radius: 50%;
                box-shadow: inset 0 0 10px rgba(0,  0,  0,  0.5);
                transition-duration: 0.8s;
                &:hover {
                    box-shadow: inset  0  0  0  1000px rgba(0,  0,  0,  0.2);
                    transition-duration: 0.8s;
                }
            }
        }
    }
}

